<!DOCTYPE html>
<html>
<head>
    <title>Goal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="css/add.css" rel="stylesheet">
<!--script src="js/appName.js"></script-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<title>CSE170</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     <script type="text/javascript">
        var username = "";
        var password = "";
        var goal = "";
        var saving = "";
        var needs = "";
    </script>
    

</head>
    
<body>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-header">
                     <a class="navbar-brand">
                        <form method="get" action="/index" style="display:inline-block;">
                            <button type="submit" class="btn btn-sm white">
                        </form>
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </button> Goal</a>
                        
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/account">Account</a></li>
                        <li><a href="/setting">Settings</a></li>
                        <li><a href="/help">Help</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="col-xs-12">
            <div class="stats">
                <center>
                
            <h1>Goal Process</h1>
                <h5><b> Goal : ${{goal}}</b></h5>
                <h5> <b>Current savings: ${{saving}} </b></h5>
               <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%">
                    <span class="sr-only"></span>
                        {{percentage}}%
                    </div>
                </div>
                <hr>
                <td>
                        <div class="btn-group-2" role="group" aria-label="...">
                            <form method="get" action="/editGoal" style="display:inline-block;">
                                <button id="editbtn"type="submit" class="btn btn-default btn-lg box-shadow--16dp">Edit Goal</button>
                            </form>
                        </div>
                    </td>
                </center>

               
                <div class="wantedItems">
                    
                    <h1>Wish List</h1>
                        {{#each item}}
                        <div class="panel panel-default" id="{{id}}">
                          <div class="item">
                              <a href="#">
                              <h3>{{name}}, ${{price}}</h3>
                              </a>
                            <div class="details hidden"></div>
                          </div>
                        </div>
                        
                        {{/each}}
                
                </div>

                
              <center>
                <form id="addFriendForm" role="form" method="get" action="/addItem">
                    <h5><b>Add an Item to your Wish List:</b></h5>
                    <div class="form-group">
                      <label for="name">Item Name:</label>
                      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                    </div>
                    <div class="form-group">
                      <label for="description">Price:</label>
                      <input type="text" class="form-control" id="price" placeholder="Price" name="price">
                    </div>
                    <input type="submit" id="submitBtn" class="btn btn-default btn-lg box-shadow--16dp" style="margin-top: 20px;" value="Add Item"></input>
                </form>
                
            </div>
        </div></center>
    <script src="js/goal-show.js"></script>
    <script src="js/color-show.js"></script>
</body>
</html>
