<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--script src="js/appName.js"></script-->
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
<link href="css/index.css" rel="stylesheet">
<link href="css/add.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<title>CSE170</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var username = "";
        var password = "";
        var goal = "";
        var saving = {{saving}};
        var needs = {{needs}};
    </script>
    
    <script src="/js/index-show.js"></script>
</head>
    
<body>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-header">
                     <a class="navbar-brand" href="#" id="appLogo">SuperSavr</a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/account">Account</a></li>
                        <li><a href="/setting">Settings</a></li>
                        <li><a href="/help">Help</a></li>
                        <li><a href="/">Log Out</a></li
                     
				</ul>
                </div>
            </div>
        </nav>

        <div class="col-xs-12">
            <div class="homepage" style="overflow: auto;">
                <center>
                    <h1>Hi, {{username}}!<br>
                        <small> You are <span style="color: #ff0000">${{needs}}</span> dollars away from your goal of <span style="color: #00A400">${{goal}}</span>.</small></h1>
                        <hr class="lines">
                    <div class = "center-block" id="donutchart"></div>

                    <div class="btn-group-1" role="group" aria-label="..." >
                      <form method="get" action="/addCategories" style="display:inline-block;">
                        <button type="submit" class="btn btn-default btn-lg box-shadow--8dp" id="savings-btn">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Add Savings
                        </button>
                      </form>
                    </div>
                    <hr class="lines2">
                    <td>
                        <div class="btn-group-2" role="group" aria-label="..." >
                            <form method="get" action="/stats" style="display:inline-block;">
                                <button id="statsbtn"type="submit" class="btn btn-default btn-lg box-shadow--8dp">Stats</button>
                            </form>
                            <form method="get" action="/goal" style="display:inline-block;">
                                <button id="goalbtn" type="submit" class="btn btn-default btn-lg box-shadow--8dp">Goal &amp; Wish List</button>
                            </form>
                        </div>
                    </td>
                    
                </center>
            </div>
        </div>
        
  <script src="js/color-show.js"></script>
    {{> googleAnalytics}}
</body>
</html>


