<!DOCTYPE html>
<html>
<head>
<title>Stats</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--script src="js/appName.js"></script-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<title>CSE170</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script type="text/javascript">
        var username = "";
        var password = "";
        var food = {{food}};
        var grocery = {{grocery}};
        var cloth = {{cloth}};
        var other = {{other}};
    </script>
    <script type="text/javascript">
      
    </script>
</head>
    
<body>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-header">
                     <a class="navbar-brand">
                        <form method="get" action="/index" style="display:inline-block;">
                            <button type="submit" class="btn btn-default btn-sm">
                        </form>
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </button>Stats</a>
                        
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/account">Account</a></li>
                        <li><a href="/setting">Settings</a></li>
                        <li><a href="/help">Help</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="col-xs-12">
            <div class="stats">
                <center>
                    <div id="piechart"></div>
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#all">All</a></li>
                            <!--li><a data-toggle="tab" href="#grocery">Grocery</a></li>
                            <li><a data-toggle="tab" href="#cloth">Cloth</a></li>
                            <li><a data-toggle="tab" href="#food">Food</a></li>
                            <li><a data-toggle="tab" href="#others">Others</a></li-->
                        </ul>
                        <div class="tab-content">
                          <div id="all" class="tab-pane fade in active">  
                            {{#each history}}
                              <p align="left">{{date}} You saved ${{amount}} for {{category}}</p>
                            {{/each}}
                          </div>
                          <!--div id="grocery" class="tab-pane fade">
                            
                          </div>
                          <div id="cloth" class="tab-pane fade">
                            
                          </div>
                            <div id="food" class="tab-pane fade">
                            
                          </div>
                            <div id="others" class="tab-pane fade">
                                
                          </div-->
                        </div>
                    </div>
                </center>
            </div>

        </div>
    <script src="js/stats-show.js"></script>
    <script src="js/color-show.js"></script>
</body>
</html>


